@import "scss/variables/_sizes.scss";
@import '_colors.scss';

.form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 220px;
  width: 400px;
}

.formTitle {
  margin-bottom: 20px;
  width: 100%;
}

